.Toastify__toast-container {
    padding: 0; /* Remove padding */
  }
  
  /* Apply styles to the toast */
  .Toastify__toast {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    /* Other styles as desired... */
  }
  
  /* Apply styles to the toast body */
  .Toastify__toast-body {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }